<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>
<body>
    <h1>All Users</h1>
    <ul>
        <% if (users && users.length > 0) { %>
            <% users.forEach(user => { %>
            <li>
                <%= user.username %>
            </li>
            <% }) %>
            <% } else { %>
            <li>No users found</li>
        <% } %>
    </ul>
</body>
</html>