<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One user page</title>
</head>

<body>
    <h1>All Users</h1>
    <ul>
        <h1>
            <%=Hello, user.username %>
        </h1>
        <h2>
            <%= user.email %>
        </h2>
    </ul>
</body>

</html>